@import '../../../node_modules/vuetify/lib/styles/settings/_variables.scss';

@media #{map-get($display-breakpoints, 'sm-and-down')} {
    .tv-task-column {
        padding-top: 8px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }

    .tv-tasks-footer {
        display: flex;
        align-items: flex-end;
        // border-top: 2px solid green;
        // background-color: red;

        &__add-task {
            width: 100%;
        }
    }
}