.tv-app-container {
    width: 100%;
}

.app-main-container {
    height: calc(100vh - 100px);
    overflow: hidden;
}

.app-scrolled-list {
    height: calc(100vh - 180px);
    overflow: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
