@import './variables.scss';
@import './adaptives/index.scss';

html {
    overflow: auto !important;
}

.v-list-item--two-line .v-list-item__append,
.v-list-item--three-line .v-list-item__append {
    align-self: center;
}

.start-page-height {
    height: calc(100vh - 75px);
}

.tv-row-height {
    height: var(--tv-row-height);
    overflow: auto;

    .v-col {
        height: 100%;
        overflow: auto;
    }
}

.tv-add-list {
    position: sticky;
    top: 0;
    z-index: 2;
}

.tv-add-task {
    position: sticky;
    top: 0;
    z-index: 2;
}

.tv-task-container {
    height: 100%;
    overflow: auto;
}

.tv-task-column {
    display: flex;
    flex-direction: column;
}

// .index-page-container::before {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 100%;
//     height: calc(100vh - 75px);
//     opacity: .5;
//     background: url('./logo-circle-1024.png');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: 350px;
// }